
body {
  /*background-color: #383838;*/
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #464646;
}

h1 {
  text-align: center;
  font-size: 600%;
  width: 700px;
  position: relative;
  left: 120px;
}

.tab-wrapper {
  /*margin: 60px auto;*/
  /*width: 70%;*/
  /*max-width:500px;*/
}

.tab-menu{
  display: flex;
  justify-content: space-between;
}

.tab-menu li {
  position:relative;
  background-color: #fff;
  color:#bcbcbc;
  display: inline-block;
  /*padding: 20px 40px;*/
  opacity: 0.8;
  cursor:pointer;
  z-index:0;

  text-align: center;
  width: 49%;
  font-size: 420%;
}

.tab-menu li:hover {
  color:#464646;
}

.tab-menu li.active {
  color:#464646;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:#464646;
}

.tab-content>div {
  background-color: #fff;
  box-sizing:border-box;
  width: 100%;
  padding: 5%;   
  min-height:420%;
}

.line {
  position:absolute;
  width: 0;
  height: 10%;
  background-color: #2e6da4;
  top: 0;
  left: 0;
}

.container{

    width:50%;
    margin: auto;
    margin-top: 10%;
    padding: 0;
    border: 2% solid #0F3B75;
    height: 80%;
}
.login{
  width:50%;
  margin: auto;
  margin-top: 10%;
  padding: 0;
  border: 2% solid #0F3B75;
  height: 60%;

}
.col-lg-3
{
	align-items:right;
}

.control-label {
  font-size: 400%;
}

.form-control {
  padding: 40px 50px;
  line-height: 50px;
  font-size: 50px;
}

.btn {
  height: 150px;
  width: 400px;
  font-size: 500%;
}

.button{
  border: none;
  color: #0F3B75;
  padding: 10;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 500%;
}

#forgot-password {
  font-size: 300%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}






/* MC/UP */


.profile{
	width:50%;
  margin: auto;
  margin-top: 0;
  padding: 0;
  /*border: 3px solid #0F3B75;*/
  height: 1500px;
}
.profile img{
	border-radius:50%;
	width:200px;
	height:15%;
}
.noti{

	font-size:250%;
	color:	#808080;
	font-weight:normal;
}
.noti2{
	font-size:250%;
	color:	#808080;
	font-weight:normal;
}
.noti3{
	font-size:330%;
	font-weight:normal;
}
.noti4{
	font-size:350%;
	font-weight:normal;
}
.noti5{
	font-size:300%;
	font-weight:normal;
	float:left;
	margin-left:4px;
	margin-right:15px;
}
.welcome{
	font-size:400%;
}


#logout {
  font-size: 300%;
}


/* Commitment Page */

.commitment{
  width:80%;
  margin-bottom: 200px;
  /*margin: auto;*/
  /*margin-top: 5%;*/
  /*padding: 0;*/
/* border: 3px solid #0F3B75;*/
  /*height: 80vh;*/
  position: relative;
}

.comm-holder{
	width: 100%;
	height: 80%;
  clear:both;
}

.commitment-wrapper{
  /*background-image: url("../images/Square-512.png");*/
  background-repeat: no-repeat;
  background-size: 100%,auto;
  background-position: center;
  height: 30%;
  width: 100%;
  margin-bottom: 8%;
  /*margin: auto;*/
  /*margin-left: 5%;*/
  /*margin-right: 5%;*/
  position: relative;
  padding: 25px;
  font-size: 40px;
  border-width: 2px;
}

.commitment-placeholder{
	background-image: url("../images/sun2.png");
	background-position: center;
	text-align: center;
	margin: auto;
	font-size: 14px;
}

.commitment-button{
  width: 65px;
  height: 65px;
  float: right;
  border-radius: 50%;
  background-color: Green;
  color: white;
  margin: 80px 14px 14px 14px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
.commitment-button2{
  width: 65px;
  height: 65px;
  float: right;
  border-radius: 50%;
  background-color: #FFD700;
  color: white;
  margin: 80px 14px 14px 14px;
  padding-top: 10px;
  margin-bottom:20px;
  text-align: center;
  font-size: 30px;
}

.commitment-icon{
	float: right;
	height: 50%;
	width: auto;
}

.commitment-name{
  font-size: 60px;
}

.commitment-time{
}
.commitment-date{
font-size:35px;
}

.commitment-prep{
}

.commitment-day-bar{
	width: 100%;
	padding: 0;
	height: 50%;
	float: center;
}
.commitment-day{
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 50%;
  /*background-color: lavender;*/
  color: white;
  margin: 14px;
  padding-top: 10px;
  text-align: center;
}

.button-bar {
  position: fixed;
  height: 150px;
  /*padding-top: 10%;*/
  bottom: 5%;
  right: 5%;
  text-align: right;
  /*clear:both;*/

}

.button-art {
  /*float: right;*/
  position: fixed;
  /*position:sticky;*/
  bottom: 5%;
  right: 5%;
  height: 150px;
  text-align: right;
}







/* Form Page */

.form-wrapper {
  /*margin: 60px auto;*/
  /*width: 70%;*/
  /*max-width:500px;*/
}

.form-menu{
  display: flex;
  /*justify-content: space-between;*/
}

.form-menu div {
  position:relative;
  background-color: white;
  color:#bcbcbc;
  /*display: inline-block;*/
  padding: 20px 40px;
  /*opacity: 0.8;*/
  cursor:pointer;
  z-index:0;

  text-align: center;
  width: 50%;
  font-size: 500%;
}

.form-content {
  position: relative;
  /*margin-right:10%;*/
  margin-left: 2%;
  margin-right: 2%;
  /*padding-top: 5%;*/
  /*margin-top: 10%;*/
}

.form-group2 {
  padding-top: 2%;
  padding-bottom: 15%;
}

#checkmarks {
  font-size: 15px;
}

.form-group {
  padding-top: 5%;
  /*text-align: center;*/
  /*font-size: 300%;*/
}

.morning-group{
  padding-top: 20%;
  text-align: center;
}

.mc-form {
  font-size: 400%;
}

.form-group label{
  padding-top: 2%;
  padding-bottom: 2%;
  /*font-size: 500%;*/
  /*padding-right: 60%;*/
}

.outer {
  /*padding-top:5%;*/
  background-color: #fff;
  box-sizing:border-box;
    /*width: 100%;*/
  /*padding: 50px;   */
  min-height:600px;
  margin-top: 0;
  position: relative;
  /*margin: 0 auto;*/
  /*margin-left: 10%;*/
  display:none;
  
}

#time {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 400%;
}
.selecth{
width:120px;
height:80px;
font-size:350%;
}
.selecth option{
font-size:40%
}
.logout{
margin-left:650px;
font-size:110%
}
.checkbox{
width:50px;
height:50px;
float:left;
}
.boxes{
height:80px;
width:100%;
}
