
body {
  background-color: #383838;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #464646;
}
input[type=text]{width:200px;}
input[type=password]{width:200px;}


.tab-wrapper {
  margin: 60px auto;
  width: 70%;
  max-width:500px;
}

.tab-menu{
  display: flex;
  justify-content: space-between; 
}

.tab-menu li {
  position:relative;
  background-color: #fff;
  color:#bcbcbc;
  display: inline-block;
  padding: 20px 40px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;

  text-align: center;
  width: 49%;
  font-size: 16px;
}

.tab-menu li:hover {
  color:#464646;
}

.tab-menu li.active {
  color:#464646;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:#464646;
}

.tab-content>div {
  background-color: #fff;
  box-sizing:border-box;
  width: 100%;
  padding: 50px 80px;   
  min-height:200px;
}

.line {
  position:absolute;
  width: 0;
  height: 7px;
  background-color: aqua;
  top: 0;
  left: 0;
}

.container{

<<<<<<< HEAD
  width:50%;
  margin: 30px 10px;
  margin-top: 30px;
  padding-left:0px;
  border: 3px solid #0F3B75;
  height: 140vh;

=======
    width:50%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border: 3px solid #0F3B75;
    height: 110vh;
>>>>>>> 87ac9e78a116e5cd479bfdb91729283ca732916e
}
.login{
  width:50%;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  border: 3px solid #0F3B75;
  height: 45vh;

}
.col-lg-3
{
	padding-left:50px;
	align-items:right;
	
}
.col-lg-8{
	padding-left:0px;
}

.button{
  border: none;
  color: #0F3B75;
  padding: 10;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}








/* MC/UP */


.profile{
	width:50%;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  /*border: 3px solid #0F3B75;*/
  height: 80vh;
}
.profile img{
	border-radius:50%;
	width:80px;
	height:80px;
}
.noti{
	font-size:10px;
	color:	#808080;
	font-weight:normal;
	padding-left:60px;
}

.welcome{
	font-size:20px;
}


/* Commitment Page */

.commitment{
  width:50%;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  /*border: 3px solid #0F3B75;*/
  height: 80vh;
  position: relative;

}

.button-bar {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;

}

.button-art {
  height: 40px;
  text-align: right;
}



/* Form Page */

.form-wrapper {
  margin: 60px auto;
  width: 70%;
  max-width:500px;
}

.form-menu{
  display: flex;
  /*justify-content: space-between;*/
}

.form-menu li {
  position:relative;
  background-color: white;
  color:#bcbcbc;
  /*display: inline-block;*/
  padding: 20px 40px;
  /*opacity: 0.8;*/
  cursor:pointer;
  z-index:0;

  text-align: center;
  width: 50%;
  font-size: 16px;
}

.form-menu li:hover {
  color:#464646;
}



.form-content {
  position: relative;
  /*margin-right:10%;*/
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
  /*margin-top: 10%;*/
}

.form-group {
  padding-top: 2%;
  padding-bottom: 2%;
  /*padding-right: 60%;*/
}

.outer {
    background-color: #fff;
  box-sizing:border-box;
    /*width: 100%;*/
  /*padding: 50px;   */
  min-height:600px;
  margin-top: 30px;
  position: relative;
  /*margin: 0 auto;*/
  /*margin-left: 10%;*/
}